<!DOCTYPE html>
<html>
  <title>Backbone.ViewMaster <%= version %></title>
   <link href="https://github.com/epeli/backbone.viewmaster/raw/master/public_source/yuidoc-theme/assets/css/logo.png" rel="icon">
   <style type="text/css" media="all">
     .github-only { display: none; }
   </style>

<a href="https://github.com/epeli/backbone.viewmaster"><img style="position: fixed; top: 0; right: 0; border: 0; z-index: 1000; margin: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>


<xmp theme="spacelab" style="display:none;">
<%= body %>
</xmp>
<script src="vendor/strapdown.js"></script>
</html>

